﻿@model IEnumerable<ClothesWebNET.Models.Product>
@{
    ViewBag.Title = "Home Page";
}

@Styles.Render("~/Content/main")
@Styles.Render("~/Content/product")
<!-- ----------Slider---------- -->
<div class="slider">
    <a href="/" class="">
        <img src="~/IMAGES/banner.png"
             alt="" />
    </a>
</div>

@{
    int ctop = 0;
    int cbot = 0;
}
<!-- Product -->
<div class="products">
    <div class="product-headingg">SẢN PHẨM MỚI - NEW PRODUCTS</div>
    <div class="grid">
        <div class="grid__row">



            @foreach (var item in Model)
            {
                cbot++;
                if (cbot > 7)
                {
                    <div class="grid__col-3">
                        <div class="product">
                            <h1 style="display:none" id="idProduct">@item.idProduct</h1>
                            <img src="@item.ImageProducts.First().URLImage"
                                 alt=""
                                 class="product-img product-show" />
                            <img src="@item.ImageProducts.Last().URLImage"
                                 alt=""
                                 class="product-img product-img-hover" />
                        </div>
                        <div class="product-info">
                            <div class="product-title">
                                @item.nameProduct
                            </div>
                            <div class="product-price">@item.price,000₫</div>
                        </div>
                    </div>
                }


                if (cbot == 15)
                { break; }

            }

        </div>

    </div>
</div>
<!-- Product -->
<!-- ----------Banner---------- -->
<div style="margin-top:30px" class="banner">
    <div class="banner-item">
        <img src="~/IMAGES/b1.jpg"
             alt="" />
    </div>
    <div class="banner-item">
        <img src="~/IMAGES/b2.jpg"
             alt="" />
    </div>
    <div class="banner-item ">
        <img src="~/IMAGES/b3.jpg"
             alt="" />
    </div>
</div>
<!-- ----------Banner---------- -->
<!-- Product -->


<div class="products">
    <div style="text-transform:uppercase" class="product-headingg">Sweater - Hoodie  2023</div>
    <div class="grid">
        <div class="grid__row">
            @foreach (var item in Model)
            {
                ctop++;
                <div class="grid__col-3">
                    <div class="product">
                        <h1 style="display:none" id="idProduct">@item.idProduct</h1>
                        <img src="@item.ImageProducts.First().URLImage"
                             alt=""
                             class="product-img product-show" />
                        <img src="@item.ImageProducts.Last().URLImage"
                             alt=""
                             class="product-img product-img-hover" />
                    </div>
                    <div class="product-info">
                        <div class="product-title">
                            @item.nameProduct
                        </div>
                        <div class="product-price">@item.price,000₫</div>
                    </div>
                </div>

                if (ctop == 8)
                {
                    break;
                }
            }

        </div>

    </div>
</div>
<!-- Product -->
@Scripts.Render("~/bundles/product")



